<br>

<h1> This is view all </h1>

<ul>
	<%  @url.each do |t|  %>
	<li>
	<% link = t.short_url	%>	
	<a href="/<%= t.short_url %>" > <%= t.short_url %> </a> </li>
		<br>
		<% end %>
		</ul>

<form action='/urls' method="post">
	Enter URL:
	<input type='text' name='long_url'>
	<input type='submit' name='Submit'>
</form>

