<!DOCTYPE html>
<html lang='en'>

<head>
  <link rel='stylesheet' type='text/css' href='/css/application.css'/>	
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> 
	<title> Prototype Sinatra </title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script type='text/javascript' src='/js/application.js'></script>


</head>

<body>

<div class="container">
	<header id="header" data-template="stage-header" class=" header-transparent">
		<div id="header-inner" style="position:relative !important; background-color: #FFA500; text-align: center; height: 50px;" >
			<div style="position: absolute; left: 100px; top: 0px;">
				<img id="brand_nash" src="/img/brand_nash.gif">
			</div>	
			<div> 
					<h1 id="header-logo" class="bitly" >
						<a href="/" rel="no follow"> 
							<span> Bitly </span>
						</a>
					</h1>
			</div>
			<div style="position: absolute; right: 180px; top: 10px;">
				<form action='/urls' method="post">
						<input type='text' name='long_url' placeholder="Paste a link to shorten it" autocomplete="off" autocorrect="off" autocapitalize="off">
							<button type="submit" class="btn btn-primary" id="loading"> Shorten </button>							
				</form>
			</div>
		</div>
	</header>
</div>

<div class="container"> 
		<span id="Alpha"><strong> Alpha </strong></span>

		<div class="container"> 
			<h1 id="display" data-toggle="tooltip" title="One day ill be a big app!" class="text-center"> This is a great little app	</h1>

<!-- <a href="/all-links" id="allLink">All link</a> -->

<!-- <div id="links">
 <table>
   <thead>
     <th>Id</th>
     <th>Short Url</th>
     <th>Long Url</th>
   </thead>
   <tbody>
   </tbody>
 </table>
</div> -->
<br>
		<div id="datatable">
			<p> Url List </p>
			<table class="table table-hover">
				<thead id="thead">
		      <tr>
		        <th>short url</th>
		        <th>long url</th>
		        <th>click count</th>
		      </tr>
		    </thead>
				<tbody>
					<%  @urls.each do |t|  %>
						<tr>
							<td data-toggle="tooltip" title="Based on SecureRandom"><a href="/<%= t.short_url %>"> <%= t.short_url %> </a> </td>
							<td data-toggle="tooltip" title="FQDN"><%= t.long_url %> </td>
							<td data-toggle="tooltip" title="click throughs"><%= t.click_count %> </td>
		    		</tr>
					<% end %>
		    </tbody>
		  </table>
		</div>

		<div id="body container" class="container">
			<img src="/img/homepage_image-1200x466.png">
		</div>

	</body>
</div>
</html>